/*-----------------------------------------------------------------------------------------------
BUTTON STYLES
-------------------------------------------------------------------------------------------------*/
//mixins
@mixin align-center {
  margin: 10px auto 20px;
}
// corsor styles
$pointer: pointer;

// padding
$default-padding: 5px;
$padding-10px: 10px;

// button widths
$button-width1: 100px;
$button-width2: 120px;

// corner raduis
$corners-3px: 3px;
$corners-5px: 5px;

.button {
  width: $button-width1;
  font-family: $roboto-condensed;
  font-size: 1em;
  display: block;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

// hover styles for desktop pc's
$transition: ease-in-out 0.3s all;
@media (hover: hover) {
  .orange-btn {
    background-color: $dark-orange;
    color: $white;
    cursor: $pointer;
    padding: $default-padding;
    border-radius: $corners-3px;
    $transition: ease-in-out 0.3s all;

    &:hover {
      background-color: $dark-grey;
    }
  }

  .grey-btn {
    color: $white;
    cursor: $pointer;
    padding: $default-padding;
    background-color: $dark-grey;
    border-radius: $corners-3px;
    $transition: ease-in-out 0.3s all;

    &:hover {
      background-color: $dark-orange;
    }
  }
}

// button styles for mobile devices
.grey-btn {
  background-color: $light-orange;
  color: $white;
  cursor: $pointer;
  padding: $default-padding;
  background-color: $dark-grey;
  border-radius: $corners-3px;
}

.orange-btn {
  background-color: $dark-orange;
  color: $white;
  cursor: $pointer;
  padding: $default-padding;
  border-radius: $corners-3px;
}

.close-btn {
  color: $white;
  font-size: 2.5em;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
