/* -----------------------------------------------------------------
    GALLERY STYLES
------------------------------------------------------------------- */
.gallery-container {
  width: calc(100% - 10px);
  padding-left: 10px;
  padding-top: 10px;
  height: auto;
  overflow: hidden;
}
.gallery-wrapper {
  // width: 25%;
  // float: left;
  display: inline-block;
}
.gallery-item {
  width: calc(100% - 10px);
  height: 300px;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  .icon {
    position: absolute;
    z-index: 300;
    background-image: url("../img/search-solid.svg");
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .title {
    color: white;
    position: absolute;
    z-index: 300;
    top: 20px;
    left: 20px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  .description {
    color: white;
    position: absolute;
    z-index: 300;
    top: 30px;
    left: 20px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    transition: all 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
  }
  @media (hover: hover) {
    &:hover {
      z-index: 3000;
      transform: scale(1.08);
      // perspective: (300px);
      // transform: rotateY(360deg);
      // filter: hue-rotate(180deg);
      // filter: sepia(100%);
      .icon {
        opacity: 1;
      }
      .description,
      .title {
        opacity: 1;
      }
      &:after {
        opacity: 1;
      }
    }
  }
}
/* -----------------------------------------------------------------
    GALLERY LIKE BUTTON
------------------------------------------------------------------- */

.galleryLikeButton {
  background-color: rgba(255, 255, 255, 1);
  -webkit-mask: url(../img/heart-solid.svg);
  mask: url(../img/heart-solid.svg);
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-repeat: no-repeat;
  z-index: 400;
  transition: all 0.3s ease-in-out;
  @media (hover: hover) {
    &:hover {
      background-color: rgba(207, 0, 15, 1);
    }
  }
}

/* -----------------------------------------------------------------
    REPSONSIVE DEVICES
------------------------------------------------------------------- */

$device_4K: "3840px";
$device_XXL: "1366px";
$device_XL: "992px";
$device_L: "768px";
$device_S: "567px";
$device_XS: "320px";

@include respond(non-retina, min-width, $device_XS, portrait) {
  .icon {
    opacity: 1 !important;
  }
  .description,
  .title {
    opacity: 1 !important;
  }
  .gallery-item:after {
    opacity: 1 !important;
  }
}

@include respond(non-retina, max-width, $device_S, landscape) {
  .icon {
    opacity: 1 !important;
  }
  .description,
  .title {
    opacity: 1 !important;
  }
  .gallery-item:after {
    opacity: 1 !important;
  }
}

@include respond(non-retina, max-width, $device_S, portrait) {
  .icon {
    opacity: 1 !important;
  }
  .description,
  .title {
    opacity: 1 !important;
  }
  .gallery-item:after {
    opacity: 1 !important;
  }
}

@include respond(non-retina, max-width, $device_L, landscape) {
  .icon {
    opacity: 1 !important;
  }
  .description,
  .title {
    opacity: 1 !important;
  }
  .gallery-item:after {
    opacity: 1 !important;
  }
}

@include respond(non-retina, max-width, $device_L, portrait) {
  .icon {
    opacity: 1 !important;
  }
  .description,
  .title {
    opacity: 1 !important;
  }
  .gallery-item:after {
    opacity: 1 !important;
  }
}

@include respond(non-retina, max-width, $device_XL, landscape) {
  .icon {
    opacity: 1 !important;
  }
  .description,
  .title {
    opacity: 1 !important;
  }
  .gallery-item:after {
    opacity: 1 !important;
  }
}

@include respond(non-retina, max-width, $device_XL, portrait) {
  .icon {
    opacity: 1 !important;
  }

  .description,
  .title {
    opacity: 1 !important;
  }
  .gallery-item:after {
    opacity: 1 !important;
  }
}
@include respond(non-retina, max-width, $device_XXL, landscape) {
  .icon {
    opacity: 1 !important;
  }

  .description,
  .title {
    opacity: 1 !important;
  }
  .gallery-item:after {
    opacity: 1 !important;
  }
}
