@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Roboto:wght@300;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import "colors", "mixins", "simple-grid", "typography", "buttons", "modal";
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

/* -----------------------------------------------------------------
    HEADER
------------------------------------------------------------------- */
$transition: ease-in-out 0.6s;

.header {
  position: sticky;
  top: 0px;
  background-color: $dark-grey;
  height: 50px;

  width: 100%;
  z-index: 3001;
}
.header div.container {
  position: relative;
}

.header nav {
  position: absolute;
  right: 40px;
  top: 50px;
  display: block;
  transition: $transition;
  padding-top: 12px;
  float: right;
  z-index: 3002;
  width: 250px;
  height: auto;
  background-color: $dark-grey;
  overflow: hidden;
}

.home-icon {
  background-image: url("../img/home-solid.svg");
  background-repeat: no-repeat;
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  display: block;
}

.projects-icon {
  background-image: url("../img/briefcase-solid.svg");
  background-repeat: no-repeat;
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  display: block;
}

.gallery-icon {
  background-image: url("../img/sd-card-solid.svg");
  background-repeat: no-repeat;
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  display: block;
}

.header nav.hidden {
  display: none;

  // transform: translateY(-50px);
}
.header nav.visible {
  display: block;
  // transform: translateY(0px);
}

.header a {
  color: $white;
  text-decoration: none;
  font-family: $roboto-condensed;
  text-transform: uppercase;
  padding: 10px;
  display: block;
  width: calc(100% - 20px);
  &:hover {
    border-left: 5px solid $light-orange;
    background-color: $mid-grey;
  }
  &.active {
    background-color: $dark-orange;
  }
}

#nav-icon {
  width: 30px;
  height: 30px;
  position: relative;
  float: right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 40px;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: $white;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 5px;
}

#nav-icon span:nth-child(2) {
  top: 15px;
}

#nav-icon span:nth-child(3) {
  top: 25px;
}

#nav-icon.open span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* -----------------------------------------------------------------
    SECTION THEME COLORS
------------------------------------------------------------------- */

/*  
    used for temlates h1 tag 
    [/components/elements/headerTag.js]

*/
.title-text {
  color: $grey;
}

//  font colors for templates
.light-orange-color {
  color: $light-orange;
}
.dark-orange-color {
  color: $dark-orange;
}
.dark-grey-color {
  color: $dark-grey;
}
.white-color {
  color: $white;
}
// background colors for templates
.light-orange {
  background-color: $light-orange;
  color: $white;
}
.dark-orange {
  background-color: $dark-orange;
  color: $white;
}
.dark-grey {
  background-color: $dark-grey;
  color: $white;
}
.light-grey {
  background-color: $light-grey;
  color: $grey;
}

.padding-top-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* -----------------------------------------------------------------
    Carousel styles
------------------------------------------------------------------- */
$transition: ease-in-out 0.3s all;
.carousel {
  width: 100%;
  min-height: 400px;
  max-height: 800px;
  position: relative;
  background-color: $dark-grey;
  overflow: hidden;
  color: $white;

  .nextButton,
  .backButton {
    position: absolute;
    top: 45%;
  }
  .nextButton {
    display: block;
    z-index: 1000;
    @include border-radius(50%);
    width: 20px;
    height: 20px;
    padding: 10px;
    right: 40px;
    transition: $transition;

    &.dark-orange {
      background-color: $dark-orange;

      &:hover {
        background-color: $dark-grey;
      }
    }
    &.dark-grey {
      background-color: $dark-grey;

      &:hover {
        background-color: $dark-orange;
      }
    }

    &:after {
      content: "";
      display: block;
      background-image: url("../img/arrow.svg");
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      @include transform(rotate(180deg));
      margin-left: -3px;
      cursor: pointer;
    }
  }

  .backButton {
    display: block;
    z-index: 1000;
    @include border-radius(50%);
    width: 20px;
    height: 20px;
    padding: 10px;
    left: 40px;
    transition: $transition;

    &.dark-orange {
      background-color: $dark-orange;

      &:hover {
        background-color: $dark-grey;
      }
    }
    &.dark-grey {
      background-color: $dark-grey;

      &:hover {
        background-color: $dark-orange;
      }
    }

    &:after {
      content: "";
      display: block;
      background-image: url("../img/arrow.svg");
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      margin-left: 2px;
      cursor: pointer;
    }
  }

  .image-slide {
    width: calc(100% - 100px);
    height: calc(40vh - 100px);
    padding: 50px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
    // &:after {
    //   content: "";
    //   position: absolute;
    //   top: 0px;
    //   left: 0px;
    //   right: 0px;
    //   bottom: 0px;
    //   display: block;

    //   background: radial-gradient(
    //     circle,
    //     rgba(255, 255, 255, 0) 0%,
    //     rgba(255, 255, 255, 0.1) 40%,
    //     rgba(0, 0, 0, 0.2) 60%,
    //     rgba(0, 0, 0, 0.6) 100%
    //   );
    // }
  }

  // small devices
  // @include respond(retina, min-width, 320px) {
  //   .nextButton {
  //     right: 10px;
  //   }
  //   .backButton {
  //     left: 10px;
  //   }
  //   .image-slide {
  //     width: calc(100% - 100px);
  //     height: calc(60vh - 100px);
  //     padding: 50px;
  //   }
  // }

  // @include respond(non-retina, min-width, 320px) {
  //   .nextButton {
  //     right: 10px;
  //   }
  //   .backButton {
  //     left: 10px;
  //   }
  //   .image-slide {
  //     width: calc(100% - 100px);
  //     height: calc(60vh - 100px);
  //     padding: 50px;
  //   }
  // }

  // @include respond(non-retina, min-width, 568px) {
  //   .nextButton {
  //     right: 10px;
  //   }
  //   .backButton {
  //     left: 10px;
  //   }
  //   .image-slide {
  //     width: calc(100% - 100px);
  //     height: calc(100vh - 100px);
  //     padding: 50px;
  //   }
  // }

  // @include respond(retina, min-width, 568px) {
  //   .nextButton {
  //     right: 40px;
  //   }
  //   .backButton {
  //     left: 40px;
  //   }
  //   .image-slide {
  //     width: calc(100% - 100px);
  //     height: calc(100vh - 100px);
  //     padding: 50px;
  //   }
  // }

  .black-background {
    background-color: $light-orange;
  }

  .image-slide h1 {
    display: inline-block;
    font-size: 2.5em;
    color: $white;
    background-color: $dark-grey;
    padding: 10px;
  }

  .image-slide p {
    width: auto;
    display: inline-block;
    padding: 10px;
    color: $white;
    background-color: $dark-grey;
  }

  .banner-buttons-wrapper {
    position: absolute;
    bottom: 20px;
    right: 40px;
  }

  .banner-buttons {
    width: 12px;
    height: 12px;
    border: 3px solid $dark-grey;
    background-color: $dark-orange;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;

    cursor: pointer;
    transition: $transition;
    &:hover {
      background-color: $light-grey;
    }
  }

  .active {
    border: 3px solid $dark-grey;
    background-color: $light-grey;
  }
}
// animations
.animateElementForward {
  @include animation(animate-banner-forward 0.15s ease-in-out);
}
.animateElementBack {
  @include animation(animate-banner-back 0.15s ease-in-out);
}

.animateTitleForward {
  @include animation(animate-title-forward 0.4s ease-in-out);
}
.animateTitleBack {
  @include animation(animate-title-back 0.4s ease-in-out);
}
@include keyframes(animate-banner-forward) {
  0% {
    transform: translateX(0%);
    filter: blur(0px);
  }

  100% {
    filter: blur(100px);
    transform: translateX(100%);
  }
}

@include keyframes(animate-banner-back) {
  0% {
    transform: translateX(0%);
    filter: blur(0px);
  }

  100% {
    filter: blur(100px);
    transform: translateX(-100%);
  }
}

@include keyframes(animate-title-forward) {
  0% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateX(0%);
  }
}

@include keyframes(animate-title-back) {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0%);
  }
}

@include keyframes(rubber-band) {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@include keyframes(bounce-in) {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    // -webkit-transform: scale3d(0.3, 0.3, 0.3);
    // transform: scale3d(0.3, 0.3, 0.3);
    @include transform(scale3d(0.3, 0.3, 0.3));
  }

  20% {
    // -webkit-transform: scale3d(1.1, 1.1, 1.1);
    // transform: scale3d(1.1, 1.1, 1.1);
    @include transform(scale3d(1.1, 1.1, 1.1));
  }

  40% {
    // -webkit-transform: scale3d(0.9, 0.9, 0.9);
    // transform: scale3d(0.9, 0.9, 0.9);
    @include transform(scale3d(0.9, 0.9, 0.9));
  }

  60% {
    opacity: 1;
    // -webkit-transform: scale3d(1.03, 1.03, 1.03);
    // transform: scale3d(1.03, 1.03, 1.03);
    @include transform(scale3d(1.03, 1.03, 1.03));
  }

  80% {
    // -webkit-transform: scale3d(0.97, 0.97, 0.97);
    // transform: scale3d(0.97, 0.97, 0.97);
    @include transform(scale3d(0.97, 0.97, 0.97));
  }

  to {
    opacity: 1;
    // -webkit-transform: scale3d(1, 1, 1);
    // transform: scale3d(1, 1, 1);
    @include transform(scale3d(1, 1, 1));
  }
}

.scroll-to-top div {
  position: fixed;
  bottom: 10px;
  right: 40px;
  z-index: 3000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  &.dark-orange {
    background-color: $dark-orange;

    &:hover {
      background-color: $dark-grey;
    }
  }
  &.dark-grey {
    background-color: $dark-grey;

    &:hover {
      background-color: $dark-orange;
    }

    &:after {
      content: "";
      display: block;
      background-image: url("../img/arrow.svg");
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      @include transform(rotate(90deg));
      margin: 12px 10px 10px 10px;
      cursor: pointer;
    }
  }
}
