.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4000;
}
.modal-container {
  position: absolute;
  background-color: $dark-grey;
  width: 300px;
  height: auto;
  left: calc(50% - 150px);
  right: calc(50% - 150px);
  top: calc(50% - 250px);
  overflow: hidden;
}
.modal-header {
  background-color: $mid-grey;
  width: calc(100% - 40px);

  height: 20px;
  padding: 20px 20px 20px 20px;
  h1 {
    color: $white;
    font-size: 1.5em;
    float: left;
    margin-right: 40px;
  }
  a {
    color: $white;
    font-size: 2.5em;
    float: right;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
  }
}
.modal-body {
  width: calc(100% - 50px);
  padding: 0px 25px 20px 25px;
  p {
    color: $white;
  }
}

// gallery modal
.gallery-modal-container {
  position: relative;
  background-color: $dark-grey;
  width: 80%;
  height: auto;
  left: calc(50% - 40%);
  right: calc(50% - 40%);
  top: 50px;
  overflow: hidden;

  .nextButton,
  .backButton {
    position: absolute;
    top: 50%;
  }

  .nextButton {
    display: block;
    z-index: 1000;
    @include border-radius(50%);
    width: 20px;
    height: 20px;
    padding: 10px;
    right: 5px;
    transition: $transition;

    &.dark-orange {
      background-color: $dark-orange;

      &:hover {
        background-color: $dark-grey;
      }
    }
    &.dark-grey {
      background-color: $dark-grey;

      &:hover {
        background-color: $dark-orange;
      }
    }

    &:after {
      content: "";
      display: block;
      background-image: url("../img/arrow.svg");
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      @include transform(rotate(180deg));
      margin-left: -3px;
      cursor: pointer;
    }
  }

  .backButton {
    display: block;
    z-index: 1000;
    @include border-radius(50%);
    width: 20px;
    height: 20px;
    padding: 10px;
    left: 5px;
    transition: $transition;

    &.dark-orange {
      background-color: $dark-orange;

      &:hover {
        background-color: $dark-grey;
      }
    }
    &.dark-grey {
      background-color: $dark-grey;

      &:hover {
        background-color: $dark-orange;
      }
    }

    &:after {
      content: "";
      display: block;
      background-image: url("../img/arrow.svg");
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      margin-left: 2px;
      cursor: pointer;
    }
  }
}
